<mat-toolbar color="primary">
  <span>Shell - Pela ciência</span>
  <span class="spacer"></span>
  <button mat-raised-button color="warn" routerLink="/produtos">Produtos</button>
  <button mat-raised-button color="warn" routerLink="/relatorio/dashboard">Relatorio - Dashboard</button>
  <button mat-raised-button color="warn" routerLink="/relatorio/vendedores">Vendedores</button>
  <button mat-raised-button color="warn" routerLink="/relatorio/clientes-ativos">Clientes Ativos</button>
</mat-toolbar>
